/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
	font-family: "Martian Mono", sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
	padding: 0;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	color: #FFF;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	transition: background-image 1s ease-in-out;
	background-size: cover;
	background-position: center;
}

.main {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: grid;
	padding: 10px;
}
.top {
	display: block;
	position: fixed;
	right: 40px;
}
.top h3 {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13px;
}
.city__ul {
	display: flex;
	align-items: center;
	justify-content: center;
}
.temperature__ul {
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.temperature__ul h3 {
	padding-left: 10px;
}
#city {
	font-size: 20px;
	text-decoration: underline;
	text-underline-offset: 20px;
	text-decoration-thickness: 4px;
	border-bottom: 1px solid white;
}
#temperature {
	font-size: 23px;
}
.center {
	height: 170px;
	width: 100%;
	text-align: center;
}
.time {
	font-size: 170px;
	width: 100%;
	margin: 0 0;
	position: relative;
}
.date {
	font-size: 36px;
}
.bottom {
	justify-content: end;
}
.bottom__right {
	display: flex;
	flex-direction: row-reverse;
}
.task__container {
    max-width: 600px;
	background: transparent;
    margin: auto;
    padding: 30px 40px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

input[type="text"] {
    width: calc(100% - 22px);
}

.error-message {
    color: red;
    margin-bottom: 10px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
