/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
	padding: 0;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body {
	background-image: url(../images/02.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	color: #fff;
}

.main {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: grid;
	padding: 10px;
}
.top {
	display: block;
	justify-content: end;
	position: fixed;
	right: 0;
}
.center {
	height: 170px;
	width: 100%;
	text-align: center;
}
.time {
	font-size: 170px;
	width: 100%;
	margin: 0 0;
	position: relative;
}
.date {
	font-size: 36px;
}
.bottom {
	justify-content: end;
}
.bottom__right {
	display: flex;
	flex-direction: row-reverse;
}


	
.task-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"] {
    width: calc(100% - 22px);
}

.error-message {
    color: red;
    margin-bottom: 10px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
